# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# Streamlit cache
.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/
*.code-workspace

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Test and coverage outputs
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Misc
*.swp
*.swo
*.bak
*.tmp
*.orig

# Ignore app secrets
.secrets.toml